<h2 id="title">Welcome to Ember.js</h2>
<p>
  {{link-to 'Home' 'index'}}
  <span>|</span>
  {{#if session.user}}
    {{link-to 'Public Page' 'public'}}
    <span>|</span>
    {{link-to 'Protected Page' 'protected'}}
    <span>|</span>
    Admin-only Page
    <span>|</span>
    <a href="" {{action 'logout'}}>Logout</a>
  {{else}}
    {{link-to 'Login' 'login'}}
  {{/if}}
</p>
{{outlet}}
